@import '../styles/colors.module.scss';

.header {
  background-color: black;
}

.form {
  border: 1px solid $darkGray;
  padding: 20px 0px;
  max-width: 100%;
}

.formName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%; // Para não ficar colado na esquerda.
  margin: 20px auto;
  text-transform: uppercase;
}

.nameAbbreviation {
  font-size: 40px;
  font-weight: bold;
  min-height: 70px;
  min-width: 70px;
  border-radius: 50%;
  background-color: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  font-size: 30px;
  font-weight: bold;
}

.memberTime {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.memberTimeImg {
  width: 20px;
}

.memberText {
  font-size: 14px;
  color: $lightGray;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.inputFlexDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.inputFlex {
  width: 250px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $darkGray;
  color: white;

  &::placeholder {
    color: $lightGray;
  }

  &:focus {
    box-shadow: none;
    border-color: $lightRed;
    color: white;
    background-color: transparent;
  }
}

.inputNormalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.input {
  @extend .inputFlex;
  text-transform: lowercase;
  width: 550px;
}

.formBtn {
  border-color: $lightRed;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 6px 20px;

  &:hover {
    border-color: $darkRed;
    background-color: transparent;
    color: $lightGray;
  }
}

.title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 50px;
}

.renderForm {
  display: block;
  width: 200px;
  border: 1px solid $darkGray;
  background-color: transparent;
  font-weight: bold;
  margin: 0 auto;
  padding: 14px 0px;

  &:hover {
    background-color: transparent;
    border-color: $lightRed;
    color: $lightGray;
  }
}

.footer {
  background-color: black;
}

@media (max-width: 991px) {
  .title {
    text-align: center;
  }

  .btnColumn {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .inputFlexDiv {
    gap: 20px;
  }

  .inputFlex {
    width: 400px;
  }

}

@media (max-width: 527px) {
  .title {
    font-size: 35px;
  }

  .formName {
    width: 95%;
  }

  .nameAbbreviation {
    font-size: 30px;
    min-width: 60px;
    min-height: 60px;
  }

  .userName {
    font-size: 30px;
  }
}

@media (max-width: 460px) {

  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .userName {
    font-size: 25px;
  }

  .inputFlex {
    width: 330px;
  }
}

@media (max-width: 380px) {
  .inputFlex {
    width: 270px;
  }
}

@media (max-width: 380px) {
  .inputFlex {
    width: 95%;
  }
}